.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing

*.la
*.lo
*.o
*.log
*.pc

tests/idle
tests/timeout
tests/child
tests/signal
tests/read
tests/write
